*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.btn{
  border-radius: 50%;
  background-color: white;
  position: relative;
  margin-top: -30px;
}
.btn:hover{
  background-color: red;
}
.slider{
  height:100%;
  width:100%;
}
.main_div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 90vw;
  height: 45vh;
  margin-left: 5vw;
  margin-top: 30px;

}
.col{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.divv{
  
  justify-content: center;
  align-items: center;
}
.heading{
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: column;
}
.scroll{
  display: flex;
  justify-content: center;
  align-items: center;
  width:30%;
  height:100%;
  margin-left:0px;
  
}
@media (max-width:760px){
  .main_div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .divv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}